<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>a propos</title>
    <link rel="stylesheet" href="./home.css" />
  </head>
  <body>
    <main>
      <h1>A PROPOS DU SITE</h1>
      <p>
        Ceci est une page qui présente ce projet : <br />
        faire un site web en codant des routes d'accès au pages <br />
        qui aborde le thème des nuages
      </p>
    </main>
  </body>
</html>
