<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>accueil</title>
    <link rel="stylesheet" href="/home.css">
  </head>
  <body>
    <main>
      <h1>ACCEUIL DU SITE</h1>
      <div id="pic_box">
        <!-- pour le chemin de l'image, il n'y a plus besoin de mettre tout le chemin,
        juste un format similaire à celui dans l'index.js -->
        <img id="cloud_picture" src="/nuage.jpg" alt="clouds picture" />
      </div>
    </main>
  </body>
</html>
