body {
  background-image: url(./error404_bckgrn.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
p {
  color: white;
  text-shadow: 20px 20px 10px black;
}
