main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pic_box {
  display: flex;
  justify-content: center;
}

#cloud_picture {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px gray;
  object-fit: cover;
}
